/* Colors */

$black: #000;
$yellow: #fff000;
$red: #ff4d4d;
$green: #03DAC5;
$grey: #777;
$light: #EEE;
$white: #FFF;
$line: $light;
// $line: #DDD;
$primary: $black;
$secondary: $green;

/* Fonts */

$body: '微軟正黑體', Microsoft JhengHei, sans-serif;
$headline: "Noto Serif","PT Serif","source-han-serif-sc",Songti SC,serif;

/* Misc */

$radius: 0;
$container: 1024px;
$container-narrow: 720px;

/* Sizes */

$headline-1: 48;
$headline-2: 32;
$headline-3: 18;

/* Partials */

$partials: (
  base,
  grid,
  helpers,
  layout
);
