extends /bases/_base

block variables
  - var pageClass = 'p-index'

block mainContent
  section#hero
    div.container
      div.row
        div.narrow.align-center
          div.metadata
            p 截至2020年1月29日18時0分
          h1 新型冠狀病毒感染肺炎 <br/> 全球確診病例分布圖 
          div.summary
            div.grid-2
              div.left
                div.label 累計確診
                div.number 6142
              div.right
                div.label 累計死亡
                div.number 132
        div.margin-top-2x
          p.align-center 今日要點（<a href="">點擊閱讀全文</a>）
          p 香港衛生防護中心傳染病處主任張竹君在今天下午記者會上確認，一對武漢夫婦對新型冠狀病毒快速測試呈陽性反應，且兩人早於上週三（22日）乘坐飛機由武漢抵港、入院前相信曾入住兩間酒店及到一些餐廳用膳。香港大學感染及傳染病中心總監何栢良今早出席電台節目，對中國廣東省可能出現「武漢新型肺炎」的「第二波社區爆發」表示憂慮，認為香港有迫切需要全面封關。

  section#map
  section#data
