doctype html
html(lang="zh-Hans")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="新型冠狀病毒（2019-nCoV）感染肺炎疫情自2019年底爆發至今擴及全球，確診病例急速增加，端傳媒以互動地圖及來自現場、側面解讀等不同面向的深度報導，帶你掌握疫情的瞬息變化。")
    meta(property='fb:app_id', content='')
    meta(property='og:title', content='新冠肺炎全球確診病例分布｜端傳媒')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://theinitium.com/project/20200203-international-novel-coronavirus-live')
    meta(property='og:image', content='https://theinitium.com/project/20200203-international-novel-coronavirus-live/assets/images/social.png')
    meta(property='og:image:alt', content='新冠肺炎全球確診病例分布｜端傳媒')
    meta(property='og:site_name', content='新冠肺炎全球確診病例分布｜端傳媒')
    meta(property='og:description', content='新型冠狀病毒（2019-nCoV）感染肺炎疫情自2019年底爆發至今擴及全球，確診病例急速增加，端傳媒以互動地圖及來自現場、側面解讀等不同面向的深度報導，帶你掌握疫情的瞬息變化。')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@initiumnews')
    meta(name='twitter:creator', content='@initiumnews')
    meta(name='twitter:title', content='新冠肺炎全球確診病例分布｜端傳媒')
    meta(name='twitter:description', content='新型冠狀病毒（2019-nCoV）感染肺炎疫情自2019年底爆發至今擴及全球，確診病例急速增加，端傳媒以互動地圖及來自現場、側面解讀等不同面向的深度報導，帶你掌握疫情的瞬息變化。')
    meta(name='twitter:image:src', content='https://theinitium.com/project/20200203-international-novel-coronavirus-live/assets/images/social.png')
    meta(name='twitter:url', content='https://theinitium.com/project/20200203-international-novel-coronavirus-live')
    title 新冠肺炎全球確診病例分布｜端傳媒
    link(rel="shortcut icon" href="assets/images/favicon.ico")
    link(href='assets/styles.css' rel='stylesheet')
    //- link(href='https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,700,900&display=swap' rel='stylesheet')
    script.
      (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-65642613-1', 'auto');
      ga('send', 'pageview');

  -
    var resourcesPath = ''
    var imagesPath = resourcesPath + 'images/'
    var iconsPath = resourcesPath + 'icons/'

  include /data/_all
  include /includes/_functions


  block components
    include /components/_all


  block variables
    - var pageClass = '';


  body
    #wrapper
      include /includes/_header

      main.main(class=pageClass)
        block mainContent

      include /includes/_footer

      block modals

    //- Scripts
    script(src="assets/js/app.min.js")

    //- script(src="assets/libs/jquery-1.11.1.min.js")
    script(src="assets/libs/d3.v5.min.js")
    script(src="assets/libs/topojson.v3.min.js")
    script(src="assets/libs/jquery.paroller.min.js")
    
    script(src="assets/js/main.js")
    script(src="assets/js/paroller-page.js")

    script $(document).ready(function(){Index.init()})
