#map {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  .background {
    fill: none;
    pointer-events: all;
  }
  
  #countries_min,
  #states_min {
    fill: #cde;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  #countries_min .active,
  #states_min .active {
    fill: blue;
  }
  
  .province:hover {
    fill: #bad6fc;
  }
  
  #cities {
    stroke-width: 0;
  }
  
  .city {
    fill: #345;
    stroke: #fff;
  }

  #map .info-card {
    font-family: $headline;
    position: absolute;
    color: #FFF;
    padding: 10px;
    min-width: 100px;
    background-color: #171717;
    border: 1px solid #ccc;
    p {
      margin: 0;
      &.title {
        @include font-size($large);
        font-weight: 900;
      }
      &.confirmed {
        color: red;
      }
      &.death {
        color: yellow;
      }
      &.note {
        color: gray;
      }
    }
  }
  
  pre.prettyprint {
    border: 1px solid #ccc;
    margin-bottom: 0;
    padding: 9.5px;
  }
